@font-face {
  font-family: "abuget";
  src: url("./assets/Abuget.ttf");
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#sky {
  position: absolute;
  height: 110vh;
  z-index: -2;
  top: 0;
  left: -30%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#city {
  position: absolute;
  z-index: -1;
  /* height: 50%; */
  left: -2px;
  top: 20%;
}

.name {
  font-size: 80px;
  font-family: abuget;
}

.button {
  background-color: #E5E5E5;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 300px;
  padding-left: 65px;
  text-align: left;
  transform: skewX(-20deg);
  stroke: #666666;
  stroke-width: 3px; 
  color: #5BA5FE;
  margin: 5px;
  
}

.button span {
  transform: skewX(20deg);
  display: inline-block;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

  #menu {
    background-color: transparent;
    width: 16.66%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
  }

  #menu-button-container {
    height: 30%;
    /* display: flex;
    flex-wrap: wrap; */
  }

  #sky {
    position: absolute;
    width: 100%;
    z-index: -2;
    height: unset;
    left: 0;
    top: 0;
  }

  @keyframes moveCity {
    0% {
      top: 20%;
    }
    100% {
      top: 10%;
    }
  }
  
  #city {
    width: 100%;
    position: absolute;
    z-index: -1;
    width: 101%;
    left: -2px;
    top: 20%;
    animation-name: moveCity;
    animation-duration: 2s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
  }
}

@media (min-width: 1200px) {

}