@font-face {
  font-family: "abuget";
  src: url("./assets/Abuget.ttf");
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#sky {
  position: absolute;
  height: 110vh;
  z-index: -2;
  top: 0;
  left: -30%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#city {
  position: absolute;
  z-index: -1;
  /* height: 50%; */
  left: -2px;
  top: 20%;
}

.name {
  font-size: 80px;
  font-family: abuget;
}

.button {
  background-color: lightgray;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 300px;
  padding-left: 65px;
  text-align: left;
  transform: skewX(-20deg);  
}

.button span {
  transform: skewX(20deg);
  display: inline-block;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

  #menu {
    background-color: rebeccapurple;
    width: 16.66%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  #sky {
    position: absolute;
    width: 100%;
    z-index: -2;
    height: unset;
    left: 0;
    top: 0;
  }
  
  #city {
    width: 100%;
    position: absolute;
    z-index: -1;
    width: 101%;
    left: -2px;
    top: 20%;
  }
}

@media (min-width: 1200px) {

}